class {
  onCreate(){
    this.state = {
      searchTerm: '',
    }
  }
  updateSearchTerm(emittedValue){
    this.state = {
      searchTerm: emittedValue.searchTerm,
    }
  }
}


<search-bar
  on-update-search-term("updateSearchTerm")
/>
<p>
  The current search term ${state.searchTerm}
</p>
<image-gallery />
