class {
  updateSearch(event){
    this.emit('update-search-term', {searchTerm: event.target.value})
  }
}

<input
  type="text"
  on-input("updateSearch")
  placeholder="Enter a value"
  value=input.searchTerm
/>
